<header class="masthead">
  <nav class="masthead__inner-wrap" aria-label="{% if page.lang == 'en' %}Main navigation{% else %}主导航{% endif %}">
    <a class="masthead__logo" href="{{ '/' | relative_url }}" rel="home">
      <img class="masthead__logo-img" src="{{ '/images/logo.svg' | relative_url }}" alt="" width="36" height="36">
      <span class="masthead__logo-title">{{ site.title | escape }}</span>
    </a>
    {% if site.data.navigation.main.size > 0 %}
    <ul class="masthead__links">
      {% for link in site.data.navigation.main %}
        {% assign link_start = link.url | slice: 0, 1 %}
        {% if link_start == '/' %}
          {% assign link_url = link.url | relative_url %}
        {% else %}
          {% assign link_url = link.url %}
        {% endif %}
      <li><a href="{{ link_url | escape }}"{% if link.url == page.url %} aria-current="page"{% endif %}>{{ link.title | escape }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
</header>
